{% extends 'PumukitWebTVBundle:Layout:base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block favicon %}
<link rel="shortcut icon" href={{ asset('bundles/pumukitgeantwebtv/images/favicon.ico')}} type="image/vnd.microsoft.icon" id="favicon" />
<link rel="icon" type="image/x-icon" href="{{ asset('bundles/pumukitgeantwebtv/images/favicon.ico') }}" />
{% endblock %}
{% block title %}
  {% trans %}GÉANT OER{% endtrans %}
{% endblock %}
{% block powered_by %}
  <div class="powered_by row">
    <div>
      <img alt="PuMuKIT icon" src="{{ asset('bundles/pumukitwebtv/images/favicon.ico') }}" style="width: 10px;">
      <a href="http://pumukit.org" >
        Powered by <span style="font-style: italic">PuMuKIT</span> <span style="padding-left:20px">Géant portal, version {{constant('Pumukit\\Geant\\WebTVBundle\\PumukitGeantWebTVBundle::VERSION')}}</span>
      </a>
    </div>
  </div>
{% endblock %}
