{% set col_mapper = {'1': 'col-md-12', '2': 'col-md-6', '3': 'col-md-4', '4': 'col-md-3'} %}
{% set col_class = ( col_mapper[cols|default('1')] | default(col_mapper['1'] ) ) %}
<div class="{{ col_class }}">
    <div class="pumukit_mmobj">
        <a href="{{ path_to_tag(tag.cod) }}">
            <figure class="pumukit_album">
                <div class="thumbnail thumbnailo"><div class="thumbnailholder" ></div><img class="thumbnailimg" src="{{asset('bundles/pumukitgeantwebtv/images/sin_foto_serial.png') }} " /></div>
                <div class="thumbnail thumbnailo"><div class="thumbnailholder" ></div><img class="thumbnailimg" src="" /></div>
                <div class="thumbnail thumbnailo"><div class="thumbnailholder" ></div><img class="thumbnailimg" src="" /></div>
                <span class="number-videos serial"><p>
                    {{tag.numberMultimediaObjects}} {{tag.numberMultimediaObjects>1?'videos':'video'}}</p>
                </span>
            </figure>
        </a>
        <div class="info serial">
            <div class="title tagcatalogue">
                <a href="{{ path_to_tag(tag.cod) }}">
                    {{tag.title | default('No title')|trans}}
                </a>
                <a href="">
                    <span class="icon-share"></span>
                </a>
            </div>
        </div>
    </div>
</div>
