{% extends 'PumukitWebTVBundle::layout.html.twig' %}
{% set hide_slidebar = true %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('bundles/pumukitwebtv/js/jwplayer/jwplayer.js') }}" type="text/javascript"></script>
  {% if jwplayer_key is defined %}<script type="text/javascript">jwplayer.key="{{ jwplayer_key }}";</script>{% endif %}
{% endblock%}

{% block title %}{{ parent() }} - {{ multimediaObject.title }}{% endblock %}
{% block keywords %}{{ parent() }} - {{ multimediaObject.keyword }}{% endblock %}

{% block body_without_bar %}
  <div class="col-xs-12">
    <h1 class="title-for-crumbs always-hide">{{ multimediaObject.title|default("No title"|trans) }}</h1>
  </div>
  <div class="col-lg-8 col-md-7">
    <span class="hidden-sm hidden-xs"></br></span>
    <div class="row">
      <div class="col-xs-12">
        {% set has_date_error = multimediaObject.property('geant_errors') ? (multimediaObject.property('geant_errors').date ? true : false) : false%}
        {% if has_date_error %}
          <div class="alert alert-warning">
            <span class="glyphicon glyphicon-warning-sign" style="color:orange"></span>
            {{"This object's date could not be correctly added." }}
          </div>
        {% endif %}

        {% include 'PumukitWebTVBundle:Misc:magic_url_disclaimer.html.twig' %}
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="{{iframe_url}}"></iframe>
        </div>
      </div>
    </div>
    {% include 'PumukitWebTVBundle:MultimediaObject:info.html.twig' %}
  </div>
  <div class="col-lg-4 col-md-5">
    <span class="hidden-sm hidden-xs"></br></span>
    {% include 'PumukitWebTVBundle:MultimediaObject:share.html.twig' %}
    {% render(controller('PumukitWebTVBundle:MultimediaObject:series', {'multimediaObject': multimediaObject})) %}
    {% render(controller('PumukitWebTVBundle:MultimediaObject:related', {'multimediaObject': multimediaObject})) %}
  </div>
{% endblock %}
